.categorias {
  background-color: yellow;
  width: 100%;
}

.navcategorias {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.navcategorias a {
  color: black;
  font-weight: 800;
  text-decoration: none;
}
