.header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.486);
}

.contactBar {
  background-color: #37d37d;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  width: 100px; /* Ajuste o tamanho da logo conforme necessário */
}

.navHeader {
  display: flex;
  justify-content: space-between;
}

.navHeader a {
  margin-right: 20px; /* Ajuste o espaçamento entre os itens do menu */
  color: black;
  text-decoration: none;
}
